body{
    margin: 0;
    background-color: lightgray;
}

.box-one{
    display: flex;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: lightblue;
    margin: 40px 20px 10px 20px;
    padding: 10px 5px;
}

.box-one p{
    margin: 1vh;
}

.box-two{
    border: 1px solid black;
    border-radius: 1vw;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 10px 20px;
    /* padding: 1px; */
    height: 30vh;
}

table {
    width: 20vw;
    height: 25vh;
    border-collapse: collapse;
  }

td, th {
    border: 1px solid;
    /* padding: 1px; */
}

th{
    background-color: white;

    font-weight: bold;
}