body{
    margin: 0;
    background-color: lightgray;
}

.box-one{
    display: flex;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: lightblue;
    margin: 40px 20px 10px 20px;
    padding: 10px 5px;
}

.box-one p{
    margin: 1vh;
}

.box-two{
    border: 1px solid black;
    border-radius: 1vw;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 10px 20px;
    /* padding: 1px; */
    height: 30vh;
}

table {
    width: 20vw;
    height: 25vh;
    border-collapse: collapse;
  }

table, td, th {
    border: 1px solid lightgray;
    /* padding: 1px; */
}



th{
    background-color: white;
    padding: 1px;
}

.box-three{
    border: 1px solid black;
    border-radius: 1vw;
    background-color: lemonchiffon;
    margin: 40px 20px 10px 20px;
    padding: 10px 5px;
}

ul.list-box{
    list-style-type: square;
}

.box-four{
    border: 1px solid black;
    border-radius: 1vw;
    background-color: lightseagreen;
    margin: 40px 20px 10px 20px;
    padding: 10px 5px;
}