* {
  margin: 0;
}

header {
  background-color: black;
}

.container-top {
  background-color: #ffcdd2;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d83519;
}

p{
    font-size: 10px;
}

.container-bottom {
  background-color: #2941ab;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1ed760;
}

h1 {
  font-size: 3em;
  margin-bottom: 3vh;
}

button {
  border-radius: 10em;
  width: 7vw;
  height: 4vh;
  font-size: 9px;
  color: white;
  border: none;
}

.container-top > button {
  background-color: #d83519;
  margin-bottom: 3vh;
}

.container-bottom > button {
  background-color: #1ed760;
}

h3{
    margin-bottom: 3vh;
}

footer {
  background-color: black;
}
